{{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(route-action 'updateCoords')}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#if showHeatmap}}
    {{heatmap-layer data=markers options=heatmapOptions}}
  {{/if}}

  {{#if showMarkers}}

    {{#each markers as |marker|}}
      {{marker-layer lat=marker.lat lng=marker.lng}}
    {{/each}}

  {{/if}}

{{/leaflet-map}}

<div class="toggle-buttons">
  <button {{action (toggle 'showHeatmap' this)}}>
    Heatmap {{if showHeatmap 'On' 'Off'}}
  </button>
  <button {{action (toggle 'showMarkers' this)}}>
    Markers {{if showMarkers 'On' 'Off'}}
  </button>
  <button {{action (route-action 'changeData')}}>
    Change Data
  </button>
  <button {{action (route-action 'addData')}}>
    Add Data
  </button>
</div>
